.outerBox {
  margin: 30px 30px;
  padding: 3px;
  border-radius: 40px;
}

.box {
  /* align-items: center; */
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background: linear-gradient(140deg, #2c4677 0%, #030c1d 100%);
  box-shadow: inset 4px 4px 10px 0px hsla(0, 0%, 0%, 0.2),
    0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  backdrop-filter: blur(4px);
}

.buyBox {
  /* align-items: center; */
  width: 300px;
  height: 300px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(140deg, #2c4677 0%, #030c1d 100%);
  box-shadow: inset 4px 4px 10px 0px hsla(0, 0%, 0%, 0.2),
    0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  backdrop-filter: blur(4px);
}

.boxName {
  margin: 0px 30px;
  /* margin-top: 20px; */
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  color: rgba(240, 248, 255, 0.9);
  background: transparent;
}
.boxPrice {
  margin: 0px 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: rgba(44, 209, 93, 0.8);
  background: transparent;
}

.infoArea {
  padding: 5px 15px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: transparent;
  margin-bottom: 10px;
}

.infoArea2 {
  padding: 5px 15px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: transparent;
  margin-bottom: 10px;
}

.info {
  padding: 5px 10px;
  margin: 5px;
  background-color: transparent;
}

.priceInfo {
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: transparent;
}
.infoHeader {
  font-size: 12px;
  background-color: transparent;
}

.infoAmount {
  background-color: transparent;
}

.priceInfo2 {
  padding: 10px 10px;
  margin: 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: transparent;
}
.infoHeader2 {
  font-size: 12px;
  background-color: transparent;
}

.infoAmount2 {
  background-color: transparent;
}

.infoWithBorder {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #436dbc;
  border-radius: 10px;
  color: aliceblue;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.inputBox {
  padding: 5px 10px;
  margin: 10px 10px;

  border: 1px solid #c6c6c69d;

  border-radius: 10px;
  color: aliceblue;
  outline: none;
  text-align: center;
  background: transparent;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputBox:focus {
  border: 1px solid #436dbc;
}

.enterAmounttext {
  margin: 0px 15px;
  font-size: 12px;
  background: transparent;
}

.buyButton {
  font-weight: 500;
  margin: 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
  color: #101014;
  background-image: linear-gradient(225deg, #4359bc, #37c6ff);
}

.buyButton:hover {
  background-image: linear-gradient(225deg, #344695, #30b9ed);
}

.backButton {
  display: flex;
  width: 20%;
  align-items: center;
  margin: 10px 25px;
  margin-bottom: 0px;
  cursor: pointer;
  border: none;
  color: rgba(240, 248, 255, 0.7);
  background-color: transparent;
}

.backButton:hover {
  color: rgba(240, 248, 255, 0.9);
}

.boxTokenText {
  margin-top: 15px;
  color: aliceblue;
  font-size: 12px;
}

.buyPageButton {
  margin: 25px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 40px;
  width: 80%;
  color: rgba(240, 248, 255, 0.747);
  display: inline-block;
  transition: all 0.1s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #101014;
  border: 0px solid #101014;
  box-shadow: 2px 2px 12px #2c467777, -6px -6px 12px #10101497;
}

.buyPageButton:hover {
  border: none;
}

.buyPageButton:hover:before {
  top: -35%;
  background-color: #2c4677;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buyPageButton:hover:after {
  top: -45%;
  background-color: #2c4677;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buyPageButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.4s 0.01s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.buyPageButton:after {
  background-color: #2c4677;
  transition: all 0.4s 0.01s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
