.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modalContent {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modalContentFail {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.loadingGif {
  width: 200px;
  background: transparent;
}

.successImg {
  width: 85px;
  margin: 30px 0px;
  background: transparent;
}

.failImg {
  width: 100px;
  margin-bottom: 30px;
  background: transparent;
}

.modalHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  /* padding-bottom: 100px; */
  /* margin-bottom: 20px; */
  background-color: transparent;
}

.modalCrossButton {
  padding: 0px 4px;
  /* color: #101014; */
  cursor: pointer;

  background-color: transparent;
  border: none;
  border-radius: 10px;
}

.modalHeader h2 {
  margin: 0;
  color: #101014;
  background-color: transparent;
  font-size: 20px;
}

.modalHeaderText {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #101014;
  font-size: 23px;
  font-weight: 500;
}

.modalText {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #1010147d;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 50px;
}

.modalFooter {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
}

.etherscanLink {
  background-color: transparent;
  width: 60%;
}

.etherscanButton {
  width: 100%;
  padding: 8px 25px;
  background-color: #0000001c;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  color: #101014;
}
.etherscanButton:hover {
  background-color: #00000026;
}

.WIPmodalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.WIPmodalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.169);
  backdrop-filter: blur(80px);
  padding: 40px;
  border-radius: 40px;
  width: 60%;
  height: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.WIPHeader {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WIPimage {
  text-align: center;
  width: 40%;
}

.WIPMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  color: rgba(240, 248, 255, 0.9);
}
.WIPDetail {
  padding: 0px 40px;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgba(240, 248, 255, 0.75);
}
