.outerBox {
  margin: 30px 30px;
  padding: 3px;
  /* background: linear-gradient(45deg, #67b26f, #4ca2cd); */
  background: linear-gradient(
    45deg,
    rgba(252, 115, 156, 0.714) 0%,
    rgba(139, 102, 241, 0.737) 100%
  );

  border-radius: 15px;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px rgba(139, 102, 241, 0.5);
  /* background: black; */
  background: rgb(8, 8, 8);
  border-radius: 15px;
}

.buyBox {
  width: 300px;
  height: 300px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  border-radius: 15px;
}

.boxName {
  margin: 0px 15px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  /* background-image: linear-gradient(45deg, #67b26f, #4ca2cd); */
  background-image: linear-gradient(
    45deg,
    rgb(255, 125, 164) 0%,
    rgb(156, 120, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infoArea {
  padding: 5px 15px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
}

.info {
  padding: 5px 10px;
  margin: 5px;
  background: transparent;
}

.infoBox{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  /* background-color: aliceblue; */
  background: transparent;
  border-radius: 15px;
}

.priceInfo {
  padding: 0px 10px;
  padding-bottom: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.infoWithBorder {
  padding: 5px 10px;
  margin: 5px;

  border: 1px solid rgba(203, 131, 211, 0.608);
  border-radius: 10px;
  color: aliceblue;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.inputBox {
  padding: 5px 10px;
  margin: 10px 10px;

  border: 1px solid #c6c6c69d;

  border-radius: 10px;
  color: aliceblue;
  outline: none;
  text-align: center;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputBox:focus {
  border: 1px solid rgba(252, 115, 156, 0.646);
}

.enterAmounttext {
  margin: 0px 15px;
  font-size: 12px;
  background: transparent;
}

.infoHeader {
  font-size: 12px;
  background: transparent;
}

.infoAmount {
  background: transparent;
}

.buyPageButton {
  margin: 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  width: 80%;
  color: rgba(240, 248, 255, 0.747);
  background-color: #1c1c1c;
}

.buyPageButton:hover {
  background-color: #3c3c3c;
}

.buyButton {
  font-weight: 500;
  margin: 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
  color: #101014;
  background-image: linear-gradient(
    45deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
}

.buyButton:hover {
  background-image: linear-gradient(
    45deg,
    rgba(252, 115, 156, 0.714) 0%,
    rgba(139, 102, 241, 0.737) 100%
  );
}

.backButton {
  margin: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  width: 30%;
  color: rgba(240, 248, 255, 0.747);

  background-color: #1c1c1c;
}

.backButton:hover {
  background-color: #3c3c3c;
}

.boxTokenText {
  margin-top: 15px;
  color: aliceblue;
  font-size: 12px;
}
