.outerBox {
  margin: 30px 30px;
  padding: 3px;
  border-radius: 40px;
}

.buyBox {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(140deg, #6e3277 0%, #17031d 100%);
  box-shadow: inset 4px 4px 10px 0px hsla(0, 0%, 0%, 0.2),
    0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  backdrop-filter: blur(4px);
}

.boxName {
  margin: 0px 30px;
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  color: rgba(240, 248, 255, 0.9);
}

.infoArea {
  padding: 0px 15px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background: transparent;
}

.info {
  padding: 5px 10px;
  margin: 5px;
  background: transparent;
}

.infoBox {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 5px;
  background: transparent;
  display: flex;
  flex-direction: row;
}

.priceInfo {
  padding: 0px 10px;
  /* background: rgba(0, 0, 0, 0.2); */
  /* border-radius: 40px; */
}

.infoHeader {
  font-size: 12px;
  background: transparent;
  color: rgba(240, 248, 255, 0.8);
}

.infoAmount {
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  color: rgba(44, 209, 93, 0.8);
}

.infoAmount2 {
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  color: rgba(240, 248, 255, 0.8);
}

.infoWithBorder {
  padding: 5px 10px;
  margin: 5px;

  border: 1px solid rgba(203, 131, 211, 0.608);
  border-radius: 40px;
  color: aliceblue;
}

.inputForm {
  display: flex;
  flex-direction: column;

  background: transparent;
}

.inputBox {
  width: 40%;
  height: 45%;
  padding: 1px 30px;
  margin: 10px 10px;
  border: 1px solid #c6c6c69d;
  /* background: transparent; */
  background: rgba(0, 0, 0, 0.1);

  border-radius: 40px;
  color: aliceblue;
  outline: none;
  text-align: center;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputBox:focus {
  border: 1px solid rgba(252, 115, 156, 0.646);
  background: rgba(0, 0, 0, 0.2);
}

.enterAmountText {
  padding-left: 2px;
  margin: 0px 15px;
  font-size: 12px;
  background: transparent;
  color: rgba(240, 248, 255, 0.7);
}

.buyPageButton {
  margin: 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 40px;
  width: 80%;
  color: rgba(240, 248, 255, 0.747);
  background-color: #1c1c1c;
}

.buyPageButton:hover {
  background-color: #3c3c3c;
}

.buyButton {
  margin: 15px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 40px;
  width: 50%;
  color: rgba(240, 248, 255, 0.747);
  display: inline-block;
  transition: all 0.1s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #101014;
  border: 0px solid #101014;
  box-shadow: 2px 2px 12px #612c7777, -6px -6px 12px #13101497;
  font-weight: 500;
}

.buyButton:hover {
  border: none;
}

.buyButton:hover:before {
  top: -35%;
  background-color: #6e3277;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buyButton:hover:after {
  top: -45%;
  background-color: #6e3277;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buyButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.4s 0.01s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.buyButton:after {
  background-color: #6e3277;
  transition: all 0.4s 0.01s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.backButton {
  margin: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 40px;
  width: 30%;
  color: rgba(240, 248, 255, 0.747);

  background-color: #1c1c1c;
}

.backButton:hover {
  background-color: #3c3c3c;
}

.boxTokenText {
  margin-top: 15px;
  color: aliceblue;
  font-size: 12px;
}

.sellButtonLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
