.body {
  /* background-color: #2a9ecc; */
  padding: 50px 250px;
  display: flex;
  flex-direction: column;
}

.background {
  background: radial-gradient(circle at top center, #0f1939 0%, #101014 100%);
  min-height: 100vh;
}

.txHistoryTitle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 25px;
  color: rgba(240, 248, 255, 0.9);
}

.TxBox {
  margin: 10px 0px;
  padding: 25px 50px;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
}

.column1 {
  /* background-color: rgb(100, 100, 100); */
  width: 60%;
  background-color: transparent;
  display: flex;
  justify-content: left;
}

.column2 {
  /* background-color: red; */
  width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: left;
}

.column3 {
  width: 100%;
  background-color: transparent;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.column4 {
  width: 30%;
  background-color: transparent;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
}

.column5 {
  width: 100%;
  background-color: transparent;
  /* background-color: pink; */
  display: flex;
  justify-content: right;
}

.txDate {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: rgba(240, 248, 255, 0.75);
}

.buyType {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: green;
  padding: 3px 12px;
  border-radius: 30px;
  border: 1px solid green;
}

.sellType {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: #ff6961e3;
  padding: 3px 12px;
  border-radius: 40px;
  border: 1px solid #ff6961e3;
}

.txAmount {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: rgba(240, 248, 255, 0.75);
}

.txBoxName {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: rgba(240, 248, 255, 0.75);
}

.txButton {
  padding: 8px 25px;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(240, 248, 255, 0.75);
}

.txButton:hover {
  background-color: #00000026;
}

.etherscanTxLink {
  background-color: transparent;
}

.backButton {
  display: flex;
  width: 70px;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.backButtonText {
  cursor: pointer;
  color: rgba(240, 248, 255, 0.75);
  font-size: 17px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.backButtonText:hover {
  color: rgba(240, 248, 255, 0.9);
  text-decoration: none;
}

.noTransactions {
  text-align: center;
  color: rgba(240, 248, 255, 0.75);
  margin-top: 100px;
}

.loadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(240, 248, 255, 0.9);
}
