.connectButton {
  text-decoration: none;
  width: 180px;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  color: #101014;
  text-decoration: none;
  border: none;
  background: linear-gradient(45deg, #3c51ae, #30b9ed) 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectButton:hover {
  text-decoration: none;
  background: linear-gradient(45deg, #3a4ea9f8, #2ba2d1f6);
}

.diconnectButtonHandler {
  width: 200px;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: #2ba2d1f6;
  border-radius: 30px;
  border: none;
  border: 1px solid #2ba2d1f6;
  background: transparent;
}

.diconnectButtonHandler:hover {
  /* background: linear-gradient(45deg, #3a4ea9f8, #2ba2d1f6); */
  background-color: #2ba2d1f6;
  color: #101014;
  transition: 0.3s;
  text-decoration: none;
}

.dropdown {
  width: 250px;
  position: relative;
  display: inline-block;
}
.dropdownContent {
  margin-top: 10px;
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
  width: 250px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 20px;
  padding: 15px 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  /* border: 0.001px solid #5a5a5af6; */
}

.dropdownContent {
  display: block;
}

.dropdownContentItems {
  text-align: left;
  padding: 0px 20px;
  /* margin-top: 15px; */
  background-color: transparent;
  border-radius: 20px;
}

.dropdownOptionsButton {
  width: 100%;
  text-align: left;
  border: none;
  font-size: 15px;
  background: transparent;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: rgba(240, 248, 255, 0.75);
}

.dropdownOptionsButton:hover {
  background: black;
  width: 100%;
  text-align: left;
}

.dropdownOptionsLink {
  background-color: transparent;
}

.disconnectButton {
  width: 100%;
  padding: 8px 15px;
  background-color: #ff6961e3;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: #101014;
  margin-top: 5px;
}
.disconnectButton:hover {
  background-color: #ff6961;
}

.networkSwitchButton {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #ccc;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: #101014;
}

.networkSwitchButton:hover {
  background-color: #ccccccc6;
}

.dropdownHeader {
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #505050;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.dropdownHeader h2 {
  margin: 0;
  color: rgba(240, 248, 255, 0.8);
  background-color: transparent;
  font-size: 18px;
}

.dropdownHeaderText {
  display: flex;
  align-items: center;
}

.dropdownCopyButton {
  background-color: rgba(240, 248, 255, 0.8);
  cursor: pointer;
  /* background: transparent; */
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 5px 6px 0px 6px;
  margin: 0px 20px;
}

.dropdownCopyIcon {
  /* background-color: aliceblue; */
  align-items: center;
  width: 18px;
  background: transparent;
}

.currentNetworkName {
  background: transparent;
  color: rgba(240, 248, 255, 0.75);
  text-align: center;
  font-size: 12px;
  margin: 2px 0px;
  font-weight: 400;
}
